.principal{
	background-color: black;
	
}
div{
	

}

p img{

padding: 15px;
width: 214px
height:164px;

}
form{
	text-align: justify;
}

h2{
	background-color:#BFC9CA;
	text-align: center;
}
.piedPagina{
	text-align: center;
	background-color: #BFC9CA;
}